.App {
    background: rgb(63, 94, 251);
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(125, 76, 240, 1) 80%
    );
    min-height: 100vh;
}
.suggestions > li:hover {
    background-color: #0d6efd;
    color: white;
}
#city-search,
#event-list {
    width: 25%;
}

.number-events-container {
    flex-grow: 1;
}
input {
    outline: none;
}
