@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
    background-image: linear-gradient(to right, #141e30, #243b55);
    min-height: 100vh;
}
.suggestions {
    position: absolute;
    z-index: 3;
    top: 9%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.suggestions,
input[type='text'] {
    width: 18rem;
}
.suggestions > li:hover {
    background-color: #0d6efd;
    color: white;
}
.card-body {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}
